{{#each data}}
  <li class="country__card-list">
    <div class="coutry__thumb">
      <image width="50" height="50" src="{{flags.svg}}"></image>
    <h2 class="country__name">{{name.common}}</h2>
    </div>
  </li>
{{/each}}


